<!doctype html>
<html>
    <head>
        <title>Play a game</title>
    </head>
    <body>
        <form action="/madlib" method="GET">
            Name: <input type="text" name="firstname"><br>
            Pick a color: <input type="radio" name="color" value="purple">Purple
            <input type="radio" name="color" value="pink">Pink<br>
            Pick a noun: <select name="noun">
                <option value="clown">Clown</option>
                <option value="cheesecake">Cheesecake</option>
                <option value="balloonicorn">Balloonicorn</option>
            </select><br>
            Give an adjective: <input type="text" name="adjective"><br>
            <input type="submit">
        </form>

    </body>
</html>